<header id="header_section">
  <div class="header_top_border">&nbsp;</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo_header"><a href="#"><img src="assets/images/logo.png"></a></div>
        </div>
        <div class="col-sm-4">
          <nav class="navbar navbar-expand-md">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto header_nav">
          
                <li class="nav-item">
                  <a class="nav-link" routerLink="/home">Personal Impact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contact-list">Record</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contact-create">Notify</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/account">Log In/Out</a>
                </li>
          
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-sm-4">
          <div class="header_right_side_content">The BREXIT referendum has already had a personal impact on many people. The impact will become much more dramatic if there is a no deal BREXIT. The impact on you is personal but it’s likely to get lost in the politics. This volunteer created website gives you the  portunity to record what has actually happened to you as a result of BREXIT.</div>
        </div>
      </div>
    </div>
  </header>
