<section id="mid_footer_section">
<div class="container">
<div class="row">
    <div class="col-sm-12">
    <ul class="footer_list_desc">
        <li>This website is owned by Credible Choise Ltd (CC).</li>
        <li>It is volunteer funded and maintained.</li>
        <li>It does’t charge anything to anyone</li>
        <li>CC will never sell or provide any private user information to any third parties</li>
        <li>CC takes reasonable measures to make sure the site is not being gamed by BOTs but we can’t guarantee it.</li>
        <li>Users are responsible for deciding what they post and CC is not liable for any consequences</li>
        <li>Any views expressed by any user are their views and are not endorsed by CC.</li>
        <li>CC clearly provides users with the ability to complain about any content. CC will promptly remove any content if the complaint is justified</li>
        <li>CC provides a mechanism for volunteers to score any verification material that users offers for verification. This an inherrntly arbitary process and CC is not liable for any consequences.</li>
        <li>If users mark any content private, it will not be published on WordPress systems for integrity and security.</li>
    </ul>
    </div>
 </div>
 </div>
</section>
<section id="footer_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <div class="footer_heading">Site Map</div>
          <div class="footer_link"><a routerLink="/brexitragipedia.uk/home">brexitragipedia.uk/home</a></div>
        </div>
        <div class="col-sm-4">
            <div class="footer_heading">Quick Links</div>
            <div class="footer_link"><a routerLink="/brexitragipedia.uk/home">About Us</a></div>
            <div class="footer_link"><a routerLink="/brexitragipedia.uk/home">Privacy Policy</a></div>
            <div class="footer_link"><a routerLink="/brexitragipedia.uk/home">Contact Us</a></div>
        </div>
        <div class="col-sm-3">
            <div class="footer_heading">Contact Us</div>
            <div class="footer_link">E : <a href="mailto:">info@brexitragipedia.uk</a></div>
            <div class="footer_link">M : <a href="tel:00 123 456 7890">00 123 456 7890</a></div>
        </div>
      </div>
    </div>
  </section>
<section>
    <div class="footer_copyright_txt">Copyright © Brexitragipedia.uk - Credible Choise Ltd - 2019</div>
</section>